node_modules/
dist/
*build/
static/images/.DS_Store
static/*.js
static/*.css
static/*.map
.DS_Store
classNames.json
app.bundle.js.LICENSE.txt
temp
yarn-error.log
release
.release
public/
.hugo_build.lock
.DS_Store
.env
.windsurfrules
design/existing_code
_gh_pages
